# Jekyll build output
_site/
.sass-cache/
.jekyll-cache/

# Bundler
.bundle/

# Ruby specific
*.gem
*.rbc
*.class
Gemfile.lock

# Node modules
node_modules/
*-lock.json

# System files
.DS_Store
Thumbs.db
