@font-face {
    font-family: 'OpenDyslexic-Regular';
    src: url('fonts/OpenDyslexic-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenDyslexicMono-Regular';
    src: url('fonts/OpenDyslexicMono-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenDyslexicMono-Italic';
    src: url('fonts/OpenDyslexicMono-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'OpenDyslexic-BoldItalic';
    src: url('fonts/OpenDyslexic-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'OpenDyslexic-Bold';
    src: url('fonts/OpenDyslexic-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'OpenDyslexicAlta-Regular';
    src: url('fonts/OpenDyslexicAlta-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenDyslexicAlta-Italic';
    src: url('fonts/OpenDyslexicAlta-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'OpenDyslexicAlta-BoldItalic';
    src: url('fonts/OpenDyslexicAlta-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'OpenDyslexicAlta-Bold';
    src: url('fonts/OpenDyslexicAlta-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}